<!-- INTERNAL TABLE FOR LOGGING -->
<div id="accordion">
<div>
<h3>Logging</h3>
<div class="net_content">
{% if hostvars[network_switch]['ansible_network_resources']['logging_global'] is defined and hostvars[network_switch]['ansible_network_resources']['logging_global']|length > 0 %}
<table id="subtable">
    <thead>
        <tr>
            <th>Logging Host</th>
        </tr>
    </thead>
    <tbody>
{% for log in hostvars[network_switch]['ansible_network_resources']['logging_global']['hosts'] %}
        <tr>
            <td>{% if hostvars[network_switch]['ansible_network_os'] == 'ios' and log['host'] != desired_logging_host %}<mark>{{log['host']}}</mark>{% elif hostvars[network_switch]['ansible_network_os'] != 'ios'and log['name'] != desired_logging_host %}<mark>{{log['name']}}</mark>{% else %}{{log['host'] | default('none')}}{{log['name'] | default('none')}}{% endif %}</td>    
        </tr>
{% endfor %}
    </tbody>
</table>
{% elif hostvars[network_switch]['ansible_network_resources']['logging_global'] is defined and hostvars[network_switch]['ansible_network_resources']['logging_global']|length == 0 %}
A Logging Host is not configured on this device
{% else %}
No Logging Host information available
{% endif %}
</div>
</div>
</div>
<!-- END INTERNAL TABLE FOR LOGGING -->
